{% extends 'base.html' %}

{% block title %}
Add book
{% endblock %}

{% block content %}
    <h2>Add new Book</h2>
    
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="Book title"
        value="{{ request.form['title'] }}">

        <label for="author">Author</label>
        <br>
        <input type="text" name="author" placeholder="Book author"
        value="{{ request.form['author'] }}">

        <label for="content">Content</label>
        <br>
        <input type="text" name="content" placeholder="Description"
        value="{{ request.form['content'] }}">

        <button type="submit">Submit</button>
    </form>

{% endblock %}