{% extends 'base.html' %}

<h1>{% block title %} Edit  {% endblock %}</h1>

{% block content %}
    
    <form method="post">
        
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Book title"
               value="{{ request.form['title'] or book['title'] }}"></input>
        <br>

        <label for="author">Book Author</label>
        <br>
        <input name="author"
                  placeholder="Book author"
                  value="{{ request.form['author'] or book['author'] }}"></input>
        <br>

        <label for="content">Description Content</label>
        <br>
        <textarea name="content"
                  placeholder="Descriptionm"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] or book['content'] }}</textarea>
        <br>

        <button type="submit">Submit</button>
    </form>

    <hr>
    <form action="{{ url_for('delete', id=book['id']) }}" method="POST">
        <input type="submit" value="Delete Book"
                onclick="return confirm('Are you sure you want to delete this book?')">
    </form>
{% endblock %}