{% extends 'base.html' %}

{% block title %}
My favritr Books
{% endblock %}

{% block content %}
    <h2>This is list of boobk wich i like ro shere with you</h2>
    {% for book in books %}
        <div class="book">
            <p>{{ book['title'] }}</p>
            <p>{{ book['author'] }}</p>
            <p>{{ book['content'] }}</p>
            <a href="{{ url_for('edit_book', id=book['id']) }}">Edit</a>

        </div>
    {% endfor  %}

{% endblock %}