
{% extends "base.html" %}

{% block content %}
{#    <h1>Cryptocurrency prices at <strong>{{ last_prices['date'] }}</strong></h1>#}
<table class="table table-secondary p-1 m-1">
    <thead>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
    </thead>
    {% for price in prices %}
        <tr>
            <td>{{ price['symbol']  }}</td>
            <td>{{ price['price'] }}</td>
        </tr>
    {% endfor %}
</table>

    <h3>New prices</h3>
    <br>
{%  endblock %}




