{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
<!-- <section class="bg-cover text-white text-center d-flex align-items-center justify-content-center" style="height: 100vh; background-image: url('{{ url_for('static', filename='imgs/disco-4721188_1920.jpg') }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <img src="{{ url_for('static', filename='imgs/macho-removebg-preview.png') }}" alt="Wild Maurycy" class="img-fluid rounded-circle mb-4">
        <h1>Hello Traveler</h1>
        <h2>I'm glad to welcome you on my personal website</h2>
      </div>
    </div>
  </div>
</section>

<section class="py-5 text-center">
  <div class="container">
    <p>Time to choose the true reason why you visit my website</p>
    <div class="btn-group" role="group">
      <button class="btn btn-primary">ART</button>
      <button class="btn btn-secondary">IT</button>
      <button class="btn btn-success">Magic</button>
    </div>
  </div>
</section> -->

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2>About Me</h2>
        <p>Every professional should have their own business card, and that's why I created this website.</p>
        <p>Here you will find information about my work as well as some more personal materials that I haven't shared anywhere before.</p>
        <p>My name is Maurycy Woźnica, I come from Warsaw, so it's logical that I'm also a bit of a hustler.</p>
        <p>I entered the world of IT in 2021 as an assistant in one of the startups/software houses. Despite lacking skills, I discovered my hobby in IT. For the next 2 years, I was involved in software testing and building systems. Currently, I am a DevOps Engineer with experience in infrastructure management, process automation, and continuous integration and delivery (CI/CD).</p>
        
        <h2>My Technical Skills</h2>
        <ul>
          <li>Programming Languages: Python, Bash, learning Go</li>
          <li>Operating Systems: Linux (advanced user)</li>
          <li>DevOps Tools and Technologies: Docker, Kubernetes, Ansible, Jenkins, Terraform</li>
          <li>Cloud Platforms: AWS, Google Cloud</li>
        </ul>
        
        <!-- <h2>Certifications</h2>
        <ul>
          <li>AWS Certified Solutions Architect</li>
          <li>Certified Kubernetes Administrator (CKA)</li>
        </ul>
        
        <h2>Client Testimonials</h2>
        <blockquote class="blockquote">
          <p class="mb-0">"Maurycy helped us automate our infrastructure, which significantly improved our efficiency and saved many hours of work." - Client XYZ</p>
        </blockquote> -->
        
        <h2>I Offer Services In</h2>
        <ul>
          <li>Process Automation</li>
          <li>Cloud Infrastructure Management</li>
          <li>Continuous Integration and Delivery (CI/CD)</li>
          <li>Monitoring and Logging</li>
        </ul>
        
        <h2>Contact Me</h2>
        <p>If you need professional DevOps services, do not hesitate to contact me. I look forward to working with you!</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
