{% extends 'base.html' %}

{% block title %}
Referals and dontations
{% endblock %}

{% block content %}
    <h2>Referrals save lives</h2>
    <h3>Ofcourse my live</h3>
    <ul>
    {% for ref in ref_data %}

            <li>
                <p>My sexy reflink to <a href="{{ ref['url'] }}" target="_blank">{{ ref['name'] }}</a></p>
                <p>{{ ref['description'] }}</p>

            </li>

    {% endfor %}
    </ul>

{% endblock %}