body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

section.content {
    margin-bottom: 20px;
}

section.content h2 {
    color: #333;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
}

section.content p, 
section.content ul, 
section.content blockquote {
    margin-bottom: 20px;
}

section.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

section.content blockquote {
    border-left: 4px solid #666;
    padding-left: 10px;
    color: #555;
    font-style: italic;
}

/* Additional styles for the new sections */
section {
    padding: 40px 0;
}

section h2 {
    margin-top: 0;
    color: #333;
}

.btn-primary, .btn-secondary, .btn-success {
    margin: 5px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
