<footer class="navbar navbar-expand-lg navbar-fixed-bottom bg-dark text-white">
  <div class="container p-3">
    <p class="text-center">
      &copy; 2024 Die Lekker Technologies
    </p>
    <a class="nav-link active" aria-current="page" href="{{ url_for('referrals') }}">My referrals</a>
  </div>
</footer>