<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}"><i class="bi bi-braces"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <strong class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Personal Tools
          </strong>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('prices') }}">Instruments Dashboard</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <strong class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hobbies
          </strong>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('books') }}">Books</a></li>
            <li><a class="dropdown-item" href="{{ url_for('movies') }}">Movies</a></li>
            <li><a class="dropdown-item" href="{{ url_for('music') }}">Music</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>